<p class="header2">Wilkommen bei</p>
<p class="header">Vocalearn</p>
<form action="">
    <div class="form-input">
        <input id="login-name" type="email" placeholder="Email">
    </div>
    <div class="form-input">
        <input id="login-name" type="text" placeholder="Spitzname">
    </div>
    <div class="form-input">
        <input id="login-password" [type]="isShowingPassword ? 'text' : 'password'" placeholder="Passwort">       
        <!--<fa-icon [icon]="isShowingPassword ? faEyeSlash : faEye" (click)="toggleShowPassword()" [transform]="isShowingPassword ? undefined : 'left-1'"></fa-icon>-->
    </div>
    <div class="form-input">
        <input id="login-password" [type]="isShowingPassword ? 'text' : 'password'" placeholder="Passwort Wiederholen">       
    </div>
    <p routerLink="../login" style="text-align: start; width: 100%; cursor: pointer; margin-top: 10px; user-select:none;">Bereits einen Account? <span style="color: rgb(141, 32, 32); font-weight: 800;">Anmelden!</span></p>
    <input type="submit" value="Registrieren">
</form>
