
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$vocalearn-primary: mat.define-palette((
  50 : #e5e0e0,
  100 : #bfb3b3,
  200 : #948080,
  300 : #694d4d,
  400 : #492626,
  500 : #290000,
  600 : #240000,
  700 : #1f0000,
  800 : #190000,
  900 : #0f0000,
  A100 : #ff5252,
  A200 : #ff1f1f,
  A400 : #eb0000,
  A700 : #d10000,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #ffffff,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #ffffff,
      A400 : #ffffff,
      A700 : #ffffff,
  )
));
$vocalearn-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$vocalearn-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$vocalearn-theme: mat.define-light-theme((
  color: (
    primary: $vocalearn-primary,
    accent: $vocalearn-accent,
    warn: $vocalearn-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($vocalearn-theme);

