<div id="header" [ngClass]="{'header-solid' : isHeaderSolid, 'header-expanded' : isHeaderExpanded}">
    <button (click)="toggleHeaderExpand()" id="header-burger"><i class="fas fa-bars"></i></button>
    <div id="header-content">
        <p>Lernen<span></span></p>
        <p>Hilfe<span></span></p>
        <p>Kontakt<span></span></p>
        <p>Impressum<span></span></p>
        <button routerLink="/auth/login">Anmelden<span></span></button>
    </div>
</div>
<section id="main-section">
    <p id="headline">Headline</p>
    <div id="goon" (click)="scrollPageDown()">
        <div id="arrow"></div>
    </div>
    <img id="background" src="/assets/background.jpg" alt="background">
</section>
<section class="item-section">
    <div class="item-section-image">
        <img src="/assets/imagevocalearn1.png" alt="Libary">
    </div>
    <div class="item-section-content">
        <p class="item-section-header">QuillJS Editor</p>
        <div class="item-section-text">
            <p>Mit dem QuillJS Editor kannst du deine Vokabelkärtchen noch besser gestalten!</p>
            <p>Egal ob Farbe, Bilder oder Links, alles ist möglich :)</p>
        </div>
    </div>
</section>
<section class="item-section item-section-inverted">
    <div class="item-section-image">
        <img src="/assets/compass.jpg" alt="Libary">
    </div>
    <div class="item-section-content">
        <p class="item-section-header">Technologie</p>
        <div class="item-section-text">
            <p>Endlich nichtmehr in der Steinzeit lernen!</p>
            <p>Durch die vielen Möglichkeiten von Vocalern kannst du deine Arbeit nun am Handy oder PC erledigen</p>
        </div>
    </div>
</section>
<section class="item-section">
    <div class="item-section-image">
        <img src="/assets/imagevocalearn1.png" alt="Libary">
    </div>
    <div class="item-section-content">
        <p class="item-section-header">QuillJS Editor</p>
        <div class="item-section-text">
            <p>Mit dem QuillJS Editor kannst du deine Vokabelkärtchen noch besser gestalten!</p>
            <p>Egal ob Farbe, Bilder oder Links, alles ist möglich :)</p>
        </div>
    </div>
</section>
<section class="item-section item-section-inverted">
    <div class="item-section-image">
        <img src="/assets/compass.jpg" alt="Libary">
    </div>
    <div class="item-section-content">
        <p class="item-section-header">Technologie</p>
        <div class="item-section-text">
            <p>Endlich nichtmehr in der Steinzeit lernen!</p>
            <p>Durch die vielen Möglichkeiten von Vocalern kannst du deine Arbeit nun am Handy oder PC erledigen</p>
        </div>
    </div>
</section>